/*Aspectos Generales: Bordes y Color de fondo de la calculadora*/

.calculadora {
    background-color: rgb(24, 3, 119);
    border: 3px blue ridge;
    text-align: center;
    width: 250px;
}

.calculadora input.largo{
    width: 60px;
}

.calculadora input[type=button]{
    padding: 0;
    width: 35px;
}

#textoPantalla{
    margin-left: 23px;
    color: rgb(240, 61, 29);
    background-color: rgb(213, 216, 218);
    border: 1px solid black;
    border-top: 4px solid black;
    border-left: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    padding: 0 5px;
    text-align: right;
    width: 186px; 
}

