section p {
    font: bold 24px/150% arial;
    background: #ccc;
    border: #999 2px solid;
    color: #666;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.bien{
    background: #0c0;
    border: #090 2px solid;
    color: #060;
}

.mal {
    background: #c00;
    border: #900 2px solid;
    color: #600;
}