section#home {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/race.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
section#home iframe{
    float: right;
}
section#about {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    background-image: url(../img/jelly.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}
section#contact {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/service.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
section#fondos {
    width: 100vw;
    height: 100vh;
    background-image:
       url(../img/ktm390.png),
       url(../img/yamaha-r6.png),
       url(../img/2018-YZF-R6-gray_3_l.png);

    background-position: center, right, left;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 30%, 30%, 30%;
}


#home h1 {
    border-radius: 10px 10px;
}