body {
    background-color: rgb(128, 141, 168);
    margin: 0;
}
.container {
    background: gray;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.header {
    background-color: blueviolet;
    width: 1000px;
    height: 10%;    
}
.sidebar {
    background: white;
    float: left;
    height: 90%;
    width: 250px;
}
.main {
    background-color: rgba(0, 68, 255, 0.685);
    float: left;
    height: 90%;
    width: 750px;
    column-count: 3;
    column-gap: 5px;
}
.mainel{
    background: grey;
    width: 100%;
    display: inline-block;
    margin: 2px 2px 2px 1px;

}
