body{
    font-family: "Lato", Sans-Serif;
  }
  
  form fieldset{
    border: none;
    font-weight: 800;
    padding: 10px 0;
  }
  form label{
    font-weight: 400;
  }
  
  input[type=submit] {
    cursor: pointer;
    border: none;
    padding: 10px;
    background-color: #f65252;
    color: white;
    width: 100%;
  }
  
  input[type=text] {
      border: none;
      border-bottom: 1px solid black;
      font-size: 16px;
  }