body {  
    background: #000000 url(../img/glx.jpg);
    background-size: cover;
    color: white;
    font: 14pt courier;
    margin: 10px 0 10px 0;
    text-align: center
}

div {   

    margin: 10% 35% 10% 35%;
    padding: 30px 0px 30px 0px;
    
}

div a {  
    
    font: 30pt bold #000 courier;
    text-decoration-line: none;
    

}
 div ul li {

     display: block;
     background-color: lightgray;
     margin: 5px;
     
   
   

 }

 div li a { 
     text-decoration: none;
     color: black;
 }

 li a:hover{    
     color:red;
     
 }

