body {   
    background: #000000 url(../img/glx.jpg);
    background-size: cover;
    color: white;
    font: 8pt courier, arial, times;
    margin: 20px 0px 20px 0px;
    text-align: center;

}
a {
    color: white
}
#contenedor {   
    text-align: left;
    width: 800px;
    background-color: white;
    color: #666;
    margin: auto;
}
#cabecera {
    height: 106px;
    width: 800px;
}
#navegacion {
    background: #164463;
    padding: 3px 10px;
    border-top: 1px solid #666;
}
a.navegacion-nav{
    color: white;
    display:table-cell;
    font-family: 'Courier', monospace;
    font-size: 14pt;
    font-weight: bold;
    height: 30px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 180px;
} 

a.navegacion-nav:hover {
    color:black;
    background-color: rgba(102, 102, 102, 0.432);
}

#contenedor #main{
    background-color: white;
    float: left;
    font-size: 12pt;
    padding: 10px;
    width: 600px;
}
#main h1{
    text-align: center;
}
#main figure{
    text-align: center;
}
#main figcaption{
    font-size: 8pt;
}
#main p{
    margin: 0 10px;
    text-align: justify;
}
#lateral {
    background-color: rgba(102, 102, 102, 0.425);
    float: right;
    padding: 5px;
    width: 170px;
    height: 921px;
}
#lateral p{
   color: white;
   margin-left: 7px;
  
}
#lateral a{
    text-decoration: none;
    color: white;
    
}

#div-lateral{
    padding: 7px;
    
}

#div-lateral:hover{
    background: rgba(211, 211, 211, 0.637);
    width: 160px;
    padding: 7px;
    padding-right: 3px;
    
    
}