<head>

	<title>
		Ejercicio 1
	</title>

	<meta charset="UFT-8">
	<meta name="description" content="Ejemplo">
	<meta name="keywords" content="HTML,CSS,JAVASCRIPT,PEOPLE">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, inicial-scale=1.0">

    <style>
        .titulo { 
			color: rgb(218, 28, 28);	
         } 

	    #marcador {
			list-style-type: square;
		}

    </style>

    <link rel="stylesheet" type="text/css" href="stylesheet.css">

   <script>

   	//Comentario: podemos incrustar javascript en el head pero se recomiendad que lo hagamos en el body 
    
    /* 
    tambien podemos hacer comentarios asi en javascript,
    con varias lineas a diferencia del otro
    */

   	function saludo(){

   	     alert("hola");

   	      } 

   </script>

   <!-- tambien podemos hacer la referencia a un archivo de js -->

   <script src="js/funciones.js"></script>

 </head>

<body>
	<nav>
		<a href="http://www.google.com">Google</a>
		<a href="http://www.twitter.com">twitter</a>
		<a href="http://www.instagram.com">instagram</a>
		<a href="http://www.google.com">Google</a>
		<a href="http://www.twitter.com">twitter</a>
		<a href="http://www.instagram.com">instagram</a>
	</nav>

	<b> texto negritas con bold (b)</b>
	
	<hr>
 <strong>Texto en negrita con strong</strong>

 <h1>texto con h1</h1>
 <h2>texto con h2</h2>
 <h3>texto con h3</h3>
 <h4>texto con h4</h4>
 <h5>texto con h5</h5>
 <h6>texto con h6</h6>
 <!--la etiqueta <i></i> pone la letra en cursiva-->
 <h1>texto con h1 y <i>tambien con la etiqueta&lt;i&gt;</i> </h1>
 <hr>

 <!--Listas ordenadas y desordenadas -->

 <ol>
 	<li>HTML</li>
 	<li>CSS</li>
 	<li>JS</li>
 	<li>Python</li>
 </ol>

 <ul style="list-style-type: none;">
 	<li>HTML</li>
 	<li id="marcador">CSS</li>
 	<li>JS</li>
 	<li>Python</li> 	
 </ul>

 <a href="http://www.google.com"> Google </a>

 <br>
 <br>

 <img src="http://placehold.it/130x130" alt="imagen prueba">
<hr>
<br>

 <table width="500" border="2" cellpadding="5" cellspacing="2">
 	<thead>
 		<tr>
 			<th>nombre</th>
			<th>Apellido</th> 	
			
 		</tr>

 		
 	</thead>

 	<tbody>
 		<tr>
 			<td>Luis</td>
 			<td>Rodriguez</td>
		 </tr>
		 <tr>
			 <td>filled cell</td>
			 <td></td>
		 </tr>
 		
 	</tbody>

 	<tfoot>
 		<tr>
 			<th style="color:red;">Nombre</th>
 			<th style="padding:5pt 20pt;">Apellido</th>
 		</tr>
 		
	</tfoot>
 </table>
 <br>
 <table border="1pt solid" cellpadding="5" cellspacing="0">
	 <thead>
		 <tr>
			 <th>hola mundo!</th>
		 </tr>
	 </thead>
	 <tbody>
		 <tr>
			 <td>hola</td>
			 <td>mundo</td>

		 </tr>
	 </tbody>
	 <tfoot>
		 <tr>
			 <th>hola mundo!</th>
		 </tr>
	 </tfoot>
	
 </table>
 <figcaption>tabla</figcaption>

 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
 consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
 cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
 proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
 consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
 cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
 proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
 consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
 cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
 proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

 <textarea rows="20" cols="180">
	 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae necessitatibus, aliquid qui assumenda aperiam voluptate deleniti? Illo, maiores! Porro quidem nihil expedita aperiam tempore numquam quas in maxime cum? Asperiores?
	 Ducimus cum soluta, architecto adipisci pariatur ipsam quibusdam, eaque, tempora ea animi doloribus quidem accusamus! Quam, corrupti. Sequi harum velit nihil, culpa dolore excepturi. Nostrum distinctio facere similique possimus laborum.
	 Commodi sequi maiores ipsa possimus incidunt consequuntur fugit accusantium placeat soluta quam? Enim voluptas unde impedit minus velit excepturi sit blanditiis sint et alias deleniti, qui ratione illo, dolores ut!
	 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque hic officia laborum consequatur eum, nesciunt, laboriosam itaque ratione autem illo mollitia accusamus incidunt excepturi, amet blanditiis? Recusandae blanditiis laboriosam animi!
	 Quas fugit ut placeat quod totam iure officiis quaerat ab hic porro est repudiandae dolorum earum, laudantium officia illum voluptates quisquam consectetur? Non cupiditate porro odit, quas illo aspernatur. Nemo?
	 Eaque, dolore porro eveniet voluptate iure adipisci velit. Mollitia, illo soluta perspiciatis excepturi delectus sit sunt commodi voluptatibus in molestiae, cupiditate esse, velit nam. Voluptates, aliquid tempora! Distinctio, suscipit dolorum?
	 Vitae laudantium dolorum quam vero officia similique esse, delectus enim nostrum velit aliquid hic dolore, est rem tenetur eveniet labore praesentium aliquam itaque fuga. Alias deleniti explicabo saepe provident adipisci!
	 Soluta reprehenderit dicta nesciunt saepe rerum asperiores debitis sequi impedit ex consequuntur dolorem laudantium amet quisquam pariatur, quis fugiat aperiam voluptate molestias magnam. Eligendi distinctio culpa voluptatem suscipit, quae in?
	 Cumque, veniam optio, voluptas, sit iste suscipit dolore ea reprehenderit officia itaque laboriosam praesentium rem blanditiis mollitia nesciunt eum esse. Eum omnis saepe quaerat aliquid doloribus minus est commodi molestias.
	 Vero fugiat asperiores distinctio nihil ducimus, ex praesentium velit ad aut recusandae quod, soluta commodi accusamus ut consectetur qui laboriosam autem voluptatem non voluptates est provident quam. Accusamus, vero architecto.
	 Quam eligendi quia eveniet accusantium, laborum dicta quasi sint provident a similique debitis architecto. Deleniti, assumenda? Quidem maiores fugit aliquid. Facere dignissimos consectetur, necessitatibus ea mollitia nisi vitae unde non?
 </textarea>
 <br>
 <hr>
 <br>
 <a href="word/Web Architecture 101.pdf" download>bajar documento</a>


 <script src="js/funciones.js"> </script>

  <script>

   	//Comentario

   	function saludo(){

   	     alert("hola");

   	      } 

   </script>
   
</body>