@import url('https://fonts.googleapis.com/css?family=Anton');

@font-face{
    font-family: 'nexarustslab';
    src: url(fonts/NexaRustSlab-BlackShadow01-Free-webfont.woff);
}

.navbar{
    background: #cc0000;
}

.nav-link, .navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}

.nav-linkv {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #cc0000;
    border-radius: 10%;
}

.navbar-collapse {
    justify-content: flex-end;

}

.navbar-toggler {
    background: #f4f4f4 !important;
}

header {
    background-image: url(../img/fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left:0;
    top:0;
    background: rgba(244, 244, 244, 0.45);
}

.descripcion {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;

 }
 .descripcion h1{
     color: #cc0000;
     font-family: 'nexarustslab', sans-serif;
 }

 .descripcion p{
     color: rgb(83, 81, 81);
     font-size: 20px;
     width: 50%;
     line-height: 1.5;
 }

 .descripcion button{
     border: 1px solid #cc0000;
     background: #cc0000;
     color: #f4f4f4;
     font-family: 'Anton', sans-serif;
 }
 
 .about {
     margin: 4em 0;
     padding: 1em;
     position: relative;
 }
 .about h1{
    font-family: 'nexarustslab', sans-serif;
     color: #cc0000;
     margin: 2em;
 }

 .about img {
     border-radius: 50%;
     border: 1px solid #000000;
 }
 .about span{
     display: block;
     color: #888;
     position: absolute;
     left: 115px;
 }
 .about .desc {
     padding: 2em;
     border-left: 4px solid black;
 }
 .about .desc h3{
     color: black;
}
.about .desc p{
    line-height: 2;
    color:#888;
}
.portfolio {
    margin: 4em 0;
    position: relative;
}
.portfolio h1 {
    font-family: 'nexarustslab', sans-serif;
    color: #cc0000;
    margin: 2em;

}
.portfolio img {
    height: 15rem;
    width: 100%;
    margin: 1em;
    border: 1px solid black;
}
.team {
    margin: 4em 0;
    position: relative;
}
.team h1{
    font-family: 'nexarustslab', sans-serif;
    color: #cc0000;
    margin: 2em;
}

.team .item{
    position: relative;
}

.team .des {
    background: #cc0000;
    color: black;
    text-align: center;
    border-bottom-left-radius: 93%;
    transition: .5s ease-in-out;
}

.team .item:hover .des {
    height: 100%;
    background: rgba(204, 204, 204, 0.877);
    position: absolute;
    width: 89.5%;
    padding: 5em;
    top: 0;
    border-bottom-left-radius: 0;
}

.blog{
    margin: 4em 0;
    position: relative;
}

.blog h1 {
    font-family: 'nexarustslab', sans-serif;
    color: #cc0000;
    margin: 2em;
}

.blog .card {
    box-shadow: 0 0 20px rgb(179, 179, 179);
}

.blog .card img{
    width: 100%;
    height: 12em;

}

.blog .card-title{
    color: #cc0000;
    font-family: 'Anton';
}

.blog .card-body {
    padding: 1em;
}

.contact-form {
    margin: 20em 0;
    background: grey;
    position: relative;
    margin-bottom: 20px;
}

#getint {
    font-family: 'nexarustslab';
    padding: 2em 1px;
    color: #cc0000;   
}

.contact-form .right{
    max-width: 600px;
}

.contact-form .right .btn-secondary {
    background: #cc0000;
    color: #000000;
    border: 0;

}

.contact-form .right .form-control::placeholder{
    color: rgba(15, 6, 6, 0.726);
    font-size: 16px;
}
