body {
    background-color: black;
    background-image: url(../proyecto-html-css/img/glx.jpg);
    background-size: cover;
}
.dadcontainer{
    display: block;
    width: 900px;
}
.container {
    position: absolute;
    height: relative;
    margin: 280px 40%;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    width: relative;
    z-index: 0;
   
}
.lista {
    position: relative;
    display: block;
    height: relative;
    padding: 10px 30px 10px 0px;
    width: relative;
}
.lista li{
    margin: 10px;
    width: relative;
    background: gray;
    padding: 2px 10px;
}
.lista ul{
    display: inline-block;
    list-style-type: none;
}
.lista ul a{
    color: black;
    font: 18pt courier;
    text-decoration: none;
}
.lista ul li a:hover{
    color: red;

}
.lista ul li:hover{
    background: rgba(128, 128, 128, 0.548);
}
.container2{
    position: absolute;
    margin: 30% 10%;
    z-index: -1;

}
.container2 img{
    height: 250px;
    margin: 0 10px 5px 0;
    width: 250px;
    float: left;
}
.container2 p {
    color:white;
    font: 14pt courier;
}